{% if trace|length > 0 %}<p class="nx-debug">Nuxeo Query : {{ trace }}</p>{% endif %}
<table class="nx-table">
    <tr>
        <th>Doc</th>
        <th>Creator</th>
        <th>Creation date</th>
        <th>Type</th>
    </tr>
    {% for doc in docs %}
    <tr>
        <td><a href="{{ doc|nx_url }}" target="_blank">{{ doc.title }}</a></td>
        <td>{{ doc.getProperty('dc:creator') }}</td>
        <td>{{ doc.getProperty('dc:created')|nx_parse_date|date('d-m-Y') }}</td>
        <td>{{ doc.type }}</td>
    </tr>
    {% endfor %}
</table>